USE [master]
GO
/****** Object:  Database [ZPI]    Script Date: 2017-03-29 21:23:54 ******/
CREATE DATABASE [ZPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ZPI.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ZPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ZPI_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZPI]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 2017-03-29 21:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[loginA] [varchar](30) NOT NULL,
	[passwordA] [varchar](30) NOT NULL,
	[emailA] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[loginA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Character]    Script Date: 2017-03-29 21:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Character](
	[idC] [int] IDENTITY(1,1) NOT NULL,
	[nicknameC] [varchar](30) NOT NULL,
	[levelC] [int] NOT NULL,
	[expC] [bigint] NOT NULL,
	[skillpointsC] [int] NOT NULL DEFAULT ((5)),
	[accountC] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Elemental]    Script Date: 2017-03-29 21:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Elemental](
	[idE] [int] IDENTITY(1,1) NOT NULL,
	[nameE] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Fight]    Script Date: 2017-03-29 21:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fight](
	[idF] [int] IDENTITY(1,1) NOT NULL,
	[winnerC] [int] NOT NULL,
	[loserC] [int] NOT NULL,
	[dateF] [date] NOT NULL,
	[durationF] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Knows]    Script Date: 2017-03-29 21:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Knows](
	[idC] [int] IDENTITY(1,1) NOT NULL,
	[idSkill] [int] NOT NULL,
 CONSTRAINT [knows_pk] PRIMARY KEY CLUSTERED 
(
	[idC] ASC,
	[idSkill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Skill]    Script Date: 2017-03-29 21:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill](
	[idSkill] [int] IDENTITY(1,1) NOT NULL,
	[idSpell] [int] NOT NULL,
	[idE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSkill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Spell]    Script Date: 2017-03-29 21:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Spell](
	[idSpell] [int] IDENTITY(1,1) NOT NULL,
	[nameS] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSpell] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Character]  WITH CHECK ADD FOREIGN KEY([accountC])
REFERENCES [dbo].[Account] ([loginA])
GO
ALTER TABLE [dbo].[Fight]  WITH CHECK ADD FOREIGN KEY([loserC])
REFERENCES [dbo].[Character] ([idC])
GO
ALTER TABLE [dbo].[Fight]  WITH CHECK ADD FOREIGN KEY([winnerC])
REFERENCES [dbo].[Character] ([idC])
GO
ALTER TABLE [dbo].[Knows]  WITH CHECK ADD FOREIGN KEY([idC])
REFERENCES [dbo].[Character] ([idC])
GO
ALTER TABLE [dbo].[Knows]  WITH CHECK ADD FOREIGN KEY([idSkill])
REFERENCES [dbo].[Skill] ([idSkill])
GO
ALTER TABLE [dbo].[Skill]  WITH CHECK ADD FOREIGN KEY([idE])
REFERENCES [dbo].[Elemental] ([idE])
GO
ALTER TABLE [dbo].[Skill]  WITH CHECK ADD FOREIGN KEY([idSpell])
REFERENCES [dbo].[Spell] ([idSpell])
GO
ALTER TABLE [dbo].[Character]  WITH CHECK ADD  CONSTRAINT [character_exp] CHECK  (([expC]>=(0)))
GO
ALTER TABLE [dbo].[Character] CHECK CONSTRAINT [character_exp]
GO
ALTER TABLE [dbo].[Character]  WITH CHECK ADD  CONSTRAINT [character_level] CHECK  (([levelC]>(0)))
GO
ALTER TABLE [dbo].[Character] CHECK CONSTRAINT [character_level]
GO
ALTER TABLE [dbo].[Fight]  WITH CHECK ADD  CONSTRAINT [fight_characters] CHECK  (([winnerC]<>[loserC]))
GO
ALTER TABLE [dbo].[Fight] CHECK CONSTRAINT [fight_characters]
GO
ALTER TABLE [dbo].[Fight]  WITH CHECK ADD  CONSTRAINT [fight_duration] CHECK  (([durationF]>(0)))
GO
ALTER TABLE [dbo].[Fight] CHECK CONSTRAINT [fight_duration]
GO
USE [master]
GO
